/* ==================== DouyuEx-RL 一键签到面板专有微调样式 ==================== */

/* 签到面板专有说明文字单行截断 */
.sign-panel .sign-option-desc {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

/* 签到日志视窗微调 */
.sign-panel .sign-log-box {
    margin-top: 4px !important;
}
